<?xml version="1.0" encoding="UTF-8" ?>

<suite name="用户管理系统测试套件">
    <test name="用户管理系统测试用例">
        <parameter name="testng.output.encoding" value="UTF-8"/>
        <classes>

            <class name="com.course.cases.LoginTest">
                <methods>
                    <include name="loginTrue"/>
                    <include name="loginFalse"/>
                </methods>
            </class>

            <class name="com.course.cases.AddUserTest">
                <methods>
                    <include name="addUser"/>
                </methods>
            </class>

            <class name="com.course.cases.GetUserInfoTest">
                <methods>
                    <include name="GetUserInfo"/>
                </methods>
            </class>

            <class name="com.course.cases.UpdateUserInfoTest">
                <methods>
                    <include name="UpdateUserInfo"/>
                    <include name="deleteUserInfo"/>
                </methods>
            </class>

            <class name="com.course.cases.GetUserInfoListTest">
                <methods>
                    <include name="getUserInfoListCase"/>
                </methods>
            </class>

        </classes>
    </test>
    <listeners>
        <!--        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>-->
        <!--        <listener class-name="com.tester.extend.demo.ExtentTestNGIReporterListenerOld"/>-->
        <listener class-name="com.course.config.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>